In [24]:
import pandas as pd
import requests
import numpy as np
import os

In [25]:
mainpath = "/Users/miltonjhon/1estudios-mac"
filename = "midial/proyecto.csv"
fullpath = os.path.join(mainpath, filename)

In [26]:
proyecto = pd.read_csv(fullpath)

In [27]:
proyecto

        proy
0    2001621
1    2017935
2    2112034
3    2115620
4    2130842
5    2154629
6    2160780
7    2160781
8    2160782
9    2160783
10   2161750
11   2167628
12   2167631
13   2167632
14   2167634
15   2167636
16   2167648
17   2167649
18   2167650
19   2170701
20   2170703
21   2172490
22   2186461
23   2186462
24   2186464
25   2186467
26   2187826
27   2187830
28   2187831
29   2191609
..       ...
105  2428478
106  2428480
107  2428481
108  2428482
109  2428483
110  2428485
111  2428487
112  2428489
113  2428490
114  2428491
115  2428495
116  2428497
117  2428499
118  2428507
119  2428508
120  2434568
121  2436218
122  2436220
123  2436226
124  2436228
125  2436229
126  2436230
127  2436238
128  2436239
129  2436550
130  2436561
131  2436566
132  2436568
133  2436621
134  2436622

[135 rows x 1 columns]

In [28]:
# borramos filas duplciadas
# proyecto.drop_duplicates()

In [42]:
#proy = proyecto.proy.values.tolist()
proy = proyecto.to_xarray

In [37]:
proy = proyecto.to_string

In [47]:
proy

<bound method NDFrame.to_xarray of         proy
0    2001621
1    2017935
2    2112034
3    2115620
4    2130842
5    2154629
6    2160780
7    2160781
8    2160782
9    2160783
10   2161750
11   2167628
12   2167631
13   2167632
14   2167634
15   2167636
16   2167648
17   2167649
18   2167650
19   2170701
20   2170703
21   2172490
22   2186461
23   2186462
24   2186464
25   2186467
26   2187826
27   2187830
28   2187831
29   2191609
..       ...
105  2428478
106  2428480
107  2428481
108  2428482
109  2428483
110  2428485
111  2428487
112  2428489
113  2428490
114  2428491
115  2428495
116  2428497
117  2428499
118  2428507
119  2428508
120  2434568
121  2436218
122  2436220
123  2436226
124  2436228
125  2436229
126  2436230
127  2436238
128  2436239
129  2436550
130  2436561
131  2436566
132  2436568
133  2436621
134  2436622

[135 rows x 1 columns]>